{% extends "blog/base.htm" %}

{% block content %}

<article class="media content-section">
  <a href="{% url 'profile-view' post.author.username %}"> <img class="article-img"
      src="{{ post.author.profile.image.url }}" alt="Profile Picture"> </a>
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'profile-view' post.author.username %}">{{ post.author.username }}</a>
      <small class="text-muted">{{ post.date_published|date:"F d, Y" }}</small>
    </div>
    <h2 class="article-title">{{ post.title }}</h2>
    <p class="article-content">{{ post.content }}</p>
    
    {% include 'blog/like_form.htm' %}

    <div style="float: right;">

      <details>
        <summary>Click to see who liked this post.</summary>
        <ul class="who-liked-it">
          {% for liked_it in object.like_set.all %}
          <li>
            <a class="see-who-liked-it"
              href="{% url 'profile-view' liked_it.liked_by.username %}">
              <img class="profile-pic-liked" src="{{ liked_it.liked_by.profile.image.url }}" alt="Profile Picture">
              {{ liked_it.liked_by.username }}
            </a>
            </li>
          {% endfor %}
        </ul>
      </details>
    </div>

    {% if object.author == user %}
    <hr style="background-color: black; height: 1px;">
    <hr style="background-color: black; height: 1px;">
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
    {% endif %}
  </div>
</article>

{% endblock content %}